<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/products">Products</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Languages
          </a>
          <ul class="dropdown-menu">
            <% for( let i = 0; i < lenguajes.length; i++ ) { %>
              <li><a class="dropdown-item" href="/languages/<%= lenguajes[i] %>"><%= lenguajesNav[i] %> </a></li>
            <% } %>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/admin/list">Listar</a></li>
            <li><a class="dropdown-item" href="/admin/create">Crear</a></li>
            <li><a class="dropdown-item" href="/admin/edit">Editar</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/register">Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>