<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head',{ tittle: 'Admin: List' }) %> 
<body>
	<%- include('../partials/header') %> 
	<h1>List products</h1>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</html>